:root {
    --background-color: #f9f6f6;
    --font-color:rgb(8, 8, 8); 
    --font: "Arial";
}


body {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-family: var(--font);
    color: var(--font-color);
    background-color: var(--background-color);
    padding: 0;
  }

/* Hides elements */
.hidden {
    display: none;
}

/* makes elements visible */
.show {
    display:flex;
}

/* Timer class styling */
.timer {
    margin-right: auto;
    text-align: right;
    flex-direction: column;
    font-size: 20px;
    margin: 0;
}

/* Quiz Start page */
.welcome {
    text-align: center;
    flex-direction: column;
    display: flex;
    font-size: 50px;
    padding: 2px;
    margin: 0;
}


p  {
    font-size: 20px;
}

/*  */
.start-quiz {
    background-color: rgb(85, 14, 193);
    font-size: large;
    color: white;
    flex-direction: column;
    margin:auto;
    padding: 10px;
    border-radius: 12px;

}




/* Styling for question buttons */
.btn-style-qa {
    background-color: rgb(85, 14, 193);
    font-size: medium;
    color: white;
    flex-direction: column;
    margin:auto;
    padding: 10px;
    border-radius: 12px;

}

/* Finished Quiz Page */
.all-done {
    text-align: center;
    flex-direction: column;
    display: flex;
    font-size: 20px;
    padding: 10px;
    margin: 0;
}

/* Highscore Page */
.highscore {
    text-align: center;
    flex-direction: column;
    display: flex;
    font-size: 20px;
    padding: 10px;
    margin: 0;
}

/* form field for name */
#name-input {
    font-size: medium;
}

/* submit button for name */
#name-btn {
    background-color: rgb(85, 14, 193);
    font-size: medium;
    color: white;
}

/* Highscore Page */
#highscores {
    font-size: large;
}

/* Local Storage user-score */
.user-score {
    font-size: large;
}

/* Go Back Button, Clear Score Button*/
.btn-style1 {
    background-color: rgb(85, 14, 193);
    font-size: medium;
    color: white;
    flex-direction: column;
    margin:auto;
    padding: 10px;
    border-radius: 12px;
}


