:root {
    --background-color: #f9f6f6;
    --font-color:rgb(8, 8, 8); 
}
body {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-family: "Helvetica";
    color: var(--font-color);
    background-color: var(--background-color);
    padding: 0;
  }

.welcome {
    text-align: center;
    flex-direction: column;
    display: flex;
    font-size: 50px;
    padding: 2px;
    margin: 0;
}

.start-quiz {

    background-color: rgb(85, 14, 193);
    font-size: large;
    color: white;
    flex-direction: column;
    margin:auto;
    padding: 10px;
    border-radius: 12px;

}

.timer {
    margin-right: auto;
    text-align: right;
    flex-direction: column;
    font-size: 20px;
    margin: 0;
}

p  {
    font-size: 20px;
}

#qs {
    font-size: large;
    flex-direction: column;
    margin:auto;
    padding: 10px;
    border-radius: 12px;
}
/* Styling for question buttons */
#btn-styleq-a {
    background-color: rgb(85, 14, 193);
    font-size: medium;
    color: white;
    flex-direction: column;
    margin:auto;
    padding: 10px;
    border-radius: 12px;
}

.all-done {
    text-align: center;
    flex-direction: column;
    display: flex;
    font-size: 20px;
    padding: 10px;
    margin: 0;
}